; general configuration properties shared across MGMs
[general]

[amppd]
server = https://amp-test.your.site.here

[hmgm]
auth_key = your_auth_key
auth_string = your_auth_string
;
transcript_api = /#/hmgm/transcript-editor
transcript_input = datasetUrl
transcript_media = mediaUrl
;
ner_api = /#/hmgm/ner-editor
ner_input = resourcePath
;
segmentation_api = /#/hmgm/segmentation-editor
segmentation_input = inputPath
; TODO add properties for other HMGM tools

[jira]
server = https://your.jira.host
username = your_username
password = your_password
project = YOUR_PROJECT

[azure]
account_id = your_account_id
api_key = your_api_key
region_name = your_azure_region_name
s3_bucket = your_s3_bucket

[aws]
aws_access_key_id = your_aws_access_key_id
aws_secret_access_key = your_aws_secret_access_key
region_name = your_aws_region_name

[aws_comprehend]
role_arn = arn:aws:iam::<your_arn_id>:role/AwsComprehend
s3_bucket = your_comprehend_s3_bucket
s3_directory =  your_comprehend_s3_directory

[aws_transcribe]
s3_bucket = your_transcribe_s3_bucket
s3_directory =  your_transcribe_s3_directory

[trello]
api_key = api_key
api_token = api_token
board_id = board_id
