; general configuration properties shared across MGMs
[general]

; absolute paths of working directories for various modules/MGMs
[workdir]
hmgm_io = /srv/services/amp_galaxy-test-8100/galaxy_work/hmgm 
facial_io = /srv/services/amp_galaxy-test-8100/galaxy_work/facial
; TODO move hpc_dropbox under galaxy_work 
hpc_dropbox = /srv/services/amp_galaxy-test-8100/hpc_batch/dropbox
; below two not referenced but partly hardcoded in MGM
transcribe_io = /srv/services/amp_galaxy-test-8100/galaxy_work/aws/transcribe
comprehend_io = /srv/services/amp_galaxy-test-8100/galaxy_work/aws/comprehend

[amppd]
server = https://amp-test.your.site.here

[hmgm]
auth_key = adfasdfasdfasdfasdf
auth_string = authasdfasdf
;
transcript_api = /#/hmgm/transcript-editor
transcript_input = datasetUrl
transcript_media = mediaUrl
;
ner_api = /#/hmgm/ner-editor
ner_input = resourcePath
;
segmentation_api = /#/hmgm/segmentation-editor
segmentation_input = inputPath
; TODO add properties for other HMGM tools

[jira]
server = https://your.jira.host
username = asdfasdfa
password = asdfasdfasdf
project = SOME_PROJECT

[azure]
accountId = asdfasdf
apiKey = asdfasdfa
s3Bucket = some-bucket

[aws]
aws_access_key_id=some_key
aws_secret_access_key=some secret access key
