; general configuration properties shared across MGMs
[general]

; absolute paths of working directories for various modules/MGMs
[workdir]
; TODO move hpc_dropbox under galaxy_work 
hpc_dropbox = /your_galaxy_parent_dir/hpc_batch/dropbox

[amppd]
server = https://amp-test.your.site.here

[hmgm]
auth_key = your_auth_key
auth_string = your_auth_string
;
transcript_api = /#/hmgm/transcript-editor
transcript_input = datasetUrl
transcript_media = mediaUrl
;
ner_api = /#/hmgm/ner-editor
ner_input = resourcePath
;
segmentation_api = /#/hmgm/segmentation-editor
segmentation_input = inputPath
; TODO add properties for other HMGM tools

[jira]
server = https://your.jira.host
username = your_username
password = your_password
project = YOUR_PROJECT

[azure]
accountId = your_account_id
apiKey = your_api_key
s3Bucket = your_s3_bucket

[aws]
aws_access_key_id = your_aws_key_id
aws_secret_access_key = your_aws_access_key

[aws_comprehend]
default_bucket = your_default_bucket
default_access_arn = arn:aws:iam::<SOMETHING>:role/AwsComprehend

[aws_transcribe]
default_bucket = your_default_bucket
default_directory = 
